.main {
    max-width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: 608px 626px;
    grid-template-rows: auto 852px;
    row-gap: 20px;
}

.feedContainer {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.feedContainer::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
}

.feedContainer::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.feedContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #2F2F37;
}

.orderCard {
    background: #1C1C21;
    border-radius: 40px;

}

.orderNumber {
    display: flex;
    justify-content: space-between;
}

.componentsAndPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.price {
    display: flex;
}

.components {
    display: flex;
    transform: rotate(180deg);
    justify-content: flex-end;
    list-style-type: none;
    padding-left: 0;
    width: 100%;

}

.component {
    transform: rotate(180deg);
    display: flex;
    box-sizing: border-box;
    max-width: 64px;
    min-height: 64px;
    width: 100%;
    border-radius: 100%;
    background: #131316;
    overflow: hidden;
    margin-left: -18px;
    border: 2px solid #801ab3;
}

.component {

}

.componentsImg {
    width: 112px;
    margin: 0 0 0 -25px;

}

.orderBoardContainer {

}

.shadow {
    text-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);

}

.readyOrderNumber {

}

.ordersReady:nth-child(5n) {
    margin-bottom: 0;
}

.ordersStatus {
    display: flex;
}

.ordersReadyElements {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    color: #00CCCC;
    height: 152px;
}

.ordersInWorkElements {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    height: 152px;

}

.ordersReadyContainer {
    max-width: 272px;
    width: 100%;
}

.ordersInWorkContainer {
    max-width: 272px;
    width: 100%;
}

.ordersReadyElement {

}

.ordersInWorkElement {

}