.profileContainer{
    max-width: 1280px;
    display: flex;
    margin: auto;
}

.formContainer {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 120px auto 0;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
}

.links {
    color: #4C4CFF;
    text-decoration: none;
    font-family: "JetBrains Mono", serif;
}

.navContainer{
    max-width: 320px;
    padding: 0 0 0 16px;
}

.navList{
    list-style-type: none;
    margin: 140px 0 0 0;
    padding: 0;
}

.navItem{
    display: flex;
    max-width: 320px;
    min-height: 64px;
    align-items: center;
}