.header{
    display: flex;
    margin: 0 auto;
    max-width: 1920px;
    min-height: 88px;
    border: 2px solid red;

}

.logo{
    align-self: center;
    margin: auto;
}

.button{
    background: black;
    color: white;
}